.center {
  text-align: center;
}

span {
  display: inline-block;
  border: solid 1px black;
  min-width: 500px;
  max-width: 1000px;
}

ul {
  list-style-type: none;
}

.word, .definition {
  border: 1px solid black;
  padding: 10px;
}

.word {
  border-right: none;
}
